!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thank you for signing up!
    %p
      On behalf of 
      %strong The Leonard Washingtons
      we'd like to thank you for supporting us. Our fans mean everything to us, and we promise not to fill up your inbox with pointless emails.
    %p
      Have this free download on us!
      %a{:href => "#"} Miss Massey
