%h1 New slideshow picture
= form_for @slide, :html => { :multipart => true } do |form|
  %fieldset
    .control-group
      .controls
        = form.file_field :picture
    .control-group
      .controls
        %p 
          The image used on the website is
          %strong 960px by 410px
    .form-actions
      %button.btn.btn-large.btn-primary{:id => "submit", :type => "submit"} Submit picture

