%section.columns
  %section#news.column
    %h2
      Recent
      %span News
    .content
      %h3 Back in the studio
      %p
        %span Feb 16, 2012 -
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
    .content
      %h3 New website
      %p
        %span Feb 8, 2012 -
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
  %section#album.column
    .artwork
      %a{:href => "#"}
        %img{:src => "/assets/album.jpg"}/
  %section#player.column
    %h2
    .player
      %iframe{:frameborder => "no", :height => "290", :scrolling => "no", :src => "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F541602&auto_play=false&show_artwork=true&color=549c95", :width => "100%"}
.clearfix

