#ajax_post
  overflow: hidden

  .title
    color: #fff
    font-size: 2.5em
    padding: 0 20px

    span 
      font-weight: normal
      font-size: 19px
      margin-left: 20px
      text-transform: uppercase
      +opacity(.5)
      color: #aaa
      font-size: 0.8em

  .picture
    float: left
    margin-left: -300px
    margin-right: 30px
    width: 550px
    height: 600px
    +opacity(.8)
    +transition(.3s all linear)
    +border-radius(0px 0px 20px 0px)

    &:hover
      +opacity(1)

  .content
    padding: 0 25px 20px 20px
    font-size: 1.8em
    line-height: 24px
    color: #666
