%h1 Blog posts
%table.table
  %thead
    %tr
      %th Name
      %th Posted on
      %th.right Action
  %tbody
    %tr
    - @posts.each do |post|
      %tr
        %td= link_to post.name, edit_post_path(Post.find(post.id))
        %td= format_date(post.created_at)
        %td.right
          = button_to "Delete", post_url(post.id), :method => "delete", :class => "btn"

