#ajax_about
  #about_container
    #us
      %h1 About Us
      %p= Content.find_by_name("about_us").content
      %a.contact{:href => "#"} Contact Us
    #sound
      %h1 Our Sound
      %p= Content.find_by_name("our_sound").content
      %a.albums{:href => "#"} Our Albums
    #meet_us
      %a.meet-circle{:href => "#"} 
        %h3 Meet the Band
  #meet_container
    #ei_menu.ei_menu
      %ul
        %li
          %a.pos1{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Alex 
            %h3{:"data-type" => "sText", :class => "sti-item"} Tenor Sax
        %li
          %a.pos2{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Al
            %h3{:"data-type" => "sText", :class => "sti-item"} Drums, Vocals
        %li
          %a.pos3{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Michael 
            %h3{:"data-type" => "sText", :class => "sti-item"} Trombone
        %li
          %a.pos4{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Tim
            %h3{:"data-type" => "sText", :class => "sti-item"} Guitar
        %li
          %a.pos5{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Billy
            %h3{:"data-type" => "sText", :class => "sti-item"} Vocals, Keys
        %li
          %a.pos6{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Natalie
            %h3{:"data-type" => "sText", :class => "sti-item"} Alto Sax
        %li
          %a.pos7{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Eric
            %h3{:"data-type" => "sText", :class => "sti-item"} Bass
