#album.column
  %a{:href => "http://theleonardwashingtons.bandcamp.com/"}
    .artwork
      %span 
        CLICK 
        %strong HERE
        FOR MORE INFO
      %img{:src => "/assets/album_case.png"}/ 
