#ajax_post
  .sidebar
    %ul.posts
      - Post.all.each do |item|
        %li
          = link_to item.name, item, :remote => true
  .post
    %h3.title
      = post.name
      %span= format_date(post.created_at)
    .content 
      = format_content(post.content).html_safe
