$circle: 290px;
$yellow: #fdf700;
$teal: #549A95;

#ajax_about {
  overflow: hidden;
  color: #fff;
  font-size: 1.8em;
  line-height: 24px;

  #about_container {
    width: 960px;       

    h1 {
      font-family: proxima-nova-extra-condensed;
      background: #000;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 44px;
      text-align: center;
      margin-bottom: 0;
      margin-top: 22px;
      padding: 11px 0px;
      text-shadow: 0px 2px 0px #000;
      color: #549c95;
    }

    p { text-align: justify; font-family: proxima-nova ; color: #777; padding: 0px 10px 10px 10px; }

    #us { 
      float: left; 
      width: 50%; 
      p { padding: 0px 20px 20px 20px; } 
    }

    #sound { 
      float: right; 
      width: 50%; 
      p { padding: 0px 20px 20px 20px; } 
    }

    .contact, .albums {
      padding: 12px 19px; 
      position: absolute;
      text-transform: uppercase;
      background-color: #000;
      font-size: 30px;
      font-weight: normal;
      color: #ddd;
      font-family: 'proxima-nova-extra-condensed', '';
      text-shadow: 0px 0px 1px #fff;
      margin: 35px 20px 20px 20px;
      @include border-radius($border);
      @include transition(background-color 0.6s linear); 
      @include clearfix();
      &:hover { color: #fff; background-color: #000; }
      &:active { position: relative; top: 1px; }
    }
    .albums { right: 0; }

    #meet_us {
      .meet-circle{
        position: absolute;
        width: $circle;
        height: $circle;
        left: 35%;
        bottom: -180px;
        -webkit-border-radius: 210px;
        -moz-border-radius: 210px;
        border-radius: 50%;
        text-align: center;
        background: #dda994 url(/assets/meet.png) no-repeat center center;
        webkit-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 7px $yellow;
        -moz-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 7px $yellow;
        box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 7px $yellow;
        @include transition(box-shadow 400ms ease-in-out);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        display: block;
        outline: none;
      }
      .meet-circle-hover{
        -webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), inset 0 0 0 14px $teal, 0 0 10px rgba(0,0,0,0.3);
        -moz-box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), inset 0 0 0 14px $teal, 0 0 10px rgba(0,0,0,0.3);
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), inset 0 0 0 14px $teal, 0 0 10px rgba(0,0,0,0.3);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      }
      .meet-circle h3{
        color: transparent;
        font-size: 30px;
        font-family: 'proxima-nova-extra-condensed', '';
        margin-top: 50px;
        text-shadow: 0px 0px 50px #fff;
        text-transform: uppercase;
        @include border-radius($border);
        @include transition(all 400ms ease-in-out);
      }
      .meet-circle-hover h3{
        text-shadow: 0px 0px 1px #fff;
        background: #000; padding: 7px;
      }
    }
  }

  #meet_container {
    display: none;

    .ei_menu {
      width: 100%;
      overflow: hidden;

      ul {
        height: 400px;
        position: relative;
        display: block;
        width: 960px;
        margin: 0; padding: 0;

        li {
          float: left;
          width: 137px;
          height: 400px;
          position: relative;
          margin: 0;
          overflow: hidden; 
          list-style: none;
  
          a {
            display: block;
            overflow:hidden;
            height:400px;
            cursor: default;
            width:100%;
            position:relative;
            background: transparent url(/assets/us.png) no-repeat top left; 
            @include transition(all 0.3s linear);
            @include opacity(80);
            
            &:hover { @include opacity(100); }
            &.pos1 { background-position: 0px 0px; }
            &.pos2 { background-position: -137px 0px !important; }
            &.pos3 { background-position: -274px !important; }
            &.pos4 { background-position: -411px 0px !important; }
            &.pos5 { background-position: -548px !important; }
            &.pos6 { background-position: -685px !important; } 
            &.pos7 { background-position: -822px !important; } 

            h2 {
              color: #fff !important;
              font-size:34px;
              font-weight:bold;
              font-family: 'proxima-nova-extra-condensed', '';
              text-transform:uppercase;
              position:absolute;
              padding:10px;
              background: rgba(0,0,0,0.5);
              left:0px;
              top: 300px;
              bottom: 0px;
              display:none;
              text-shadow: 0px 1px 1px black;
              height: 100px;
              width: 137px;
            }

            h3 {
              font-size:18px;
              color: #fff !important;
              position:absolute;
              text-shadow: 0px 1px 1px black;
              left:0px;
              width:180px;
              display:none;
              padding-top: 35px !important;
              font-weight: normal;
              padding:10px;
            }
          }
        }
      }
    }
  }
}
