@import "bootstrap";
@import "orbit";

@import "base";
@import "home";

@mixin box-shadow($shadow: 0 1px 3px rgba(0,0,0,.35), $shadow2: 0px 1px 14px rgba(0,0,0,.2)) {
  -webkit-box-shadow: $shadow, $shadow2;
     -moz-box-shadow: $shadow, $shadow2;
          box-shadow: $shadow, $shadow2;
}
