#ajax_about
  #about_container
    #us
      %h1 About Us
      %p With the core of the group forming in 2005, The Leonard Washingtons have spent the better part of six years refining a sound that they still can't quite put a finger on. Each member is an independent musician in their own right, a trait that is apparent in the constant and indiscriminate meshing of styles and influences in live shows and original compositions. While their goal is common, the way they play together is anything but.
      %a.contact{:href => "#"} Contact Us
    #sound
      %h1 Our Sound
      %p A raw mix of hip-hop based funk, jazz harmonies, and a tendency to reference a highly eclectic mix of influences. Mark Stalcup put it quite eloquently: "Think the solo songs of Steely Dan's Donald Fagen meets The Roots, sung by a funkier John Mayer channeling Winwood. A moment later, it's a hoarser Jack Johnson fronting the Meters, covering a mash-up of Dave Brubeck, Isaac Hayes and Phish."
      %a.albums{:href => "#"} Our Albums
    #meet_us
      %a.meet-circle{:href => "javascript:null(0)"} 
        %h3 Meet the Band
  #meet_container
    #ei_menu.ei_menu
      %ul
        %li
          %a.pos1{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Billy
            %h3{:"data-type" => "sText", :class => "sti-item"} Vocals, Keys
        %li
          %a.pos2{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Alex 
            %h3{:"data-type" => "sText", :class => "sti-item"} Tenor Sax
        %li
          %a.pos3{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Al
            %h3{:"data-type" => "sText", :class => "sti-item"} Vocals, Drums
        %li
          %a.pos4{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Tim
            %h3{:"data-type" => "sText", :class => "sti-item"} Guitar
        %li
          %a.pos5{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Eric
            %h3{:"data-type" => "sText", :class => "sti-item"} Bass
        %li
          %a.pos6{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Michael
            %h3{:"data-type" => "sText", :class => "sti-item"} Trombone
