#ajax_about
  #about_container
    #us
      %h1 About Us
      %p 
        With the core of the group forming in 2005, The Leonard Washingtons have spent the better part of six years refining a sound that they still can't quite put a finger on. Each member of the collective is an independent musician in their own right, a characteristic that is apparent in the constant and indiscriminate 
        %br 
        meshing of styles and influences in live 
        %br
        shows and original compositions. And 
        %br
        while their goal is common, the way 
        %br
        they play together is anything but.
    #sound
      %h1 Our Sound
      %p 
        A raw mix of hip-hop based funk, jazz harmonies, and a tendency to reference a highly eclectic mix of influences. Mark Stalcup put it quite eloquently: "Think the solo songs of Steely Dan's Donald Fagen meets The Roots, sung by a funkier John Mayer channeling Winwood.
        %br
        A moment later, it's a hoarser Jack Johnson 
        %span{:style => "margin-left: 80px;"} fronting the Meters, covering a mash-up of Dave Brubeck, Isaac Hayes and Phish."
    #meet_us
      %a.meet-circle{:href => "#"} 
        %h3 Meet the Band
  #meet_container
    #ei_menu.ei_menu
      %ul
        %li
          %a.pos1{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Billy
            %h3{:"data-type" => "sText", :class => "sti-item"} Singer
        %li
          %a.pos2{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Alex Sperellis
            %h3{:"data-type" => "sText", :class => "sti-item"} Guitar
        %li
          %a.pos3{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} 
            %h3{:"data-type" => "sText", :class => "sti-item"} Advanced Patient Care
        %li
          %a.pos4{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Advanced Patient Care
            %h3{:"data-type" => "sText", :class => "sti-item"} Advanced Patient Care
        %li
          %a.pos5{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Advanced Patient Care
            %h3{:"data-type" => "sText", :class => "sti-item"} Advanced Patient Care
        %li
          %a.pos6{:href => "#"}
            %h2{:"data-type" => "mText", :class => "sti-item"} Advanced Patient Care
            %h3{:"data-type" => "sText", :class => "sti-item"} Advanced Patient Care
