!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title TLW - Admin
    %meta{:content => "The Leonard Washingtons, a funky jam-band from Terre Haute, IN ", :name => "description"}
    %meta{:content => "Pete Brousalis - brousalis.com", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag "admin"
    %script{:src => "http://use.typekit.com/fhb0qqm.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    .container-fluid
      .row
        .span3
          .top
            %a{:href => "#"} TLW Admin
          .well{:style => "padding: 8px 0;"}
            %ul.nav.nav-list
              %li.nav-header Homepage
              %li
                %a{:href => "#"}
                  %i.icon-home
                  Slideshow images
              %li.nav-header Blog
              %li
                %a{:href => "#"}
                  %i.icon-pencil
                  New post
              %li
                %a{:href => "#"}
                  %i.icon-edit
                  Edit/delete posts
              %li.nav-header About
              %li
                %a{:href => "#"}
                  %i.icon-edit
                  Edit about us
              %li
                %a{:href => "#"}
                  %i.icon-edit
                  Edit our sound
              %li.nav-header Music
              %li
                %a{:href => "#"}
                  %i.icon-music
                  Albums
              %li.nav-header Shows
              %li
                %a{:href => "#"}
                  %i.icon-calendar
                  Add show
              %li
                %a{:href => "#"}
                  %i.icon-edit
                  Edit/delete shows
        .span10
          = yield
