!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %title TLW - Admin
    %meta{:content => "The Leonard Washingtons, a funky jam-band from Terre Haute, IN ", :name => "description"}
    %meta{:content => "Pete Brousalis - brousalis.com", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = javascript_include_tag "admin"
    = stylesheet_link_tag "admin"
    %script{:src => "http://use.typekit.com/iui1xgf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    .container
      .row
        .span3
          .top
            %a{:href => "/admin"} TLW Admin
          .well{:style => "padding: 8px 0;"}
            %ul.nav.nav-list
              %li.nav-header Homepage
              %li
                %a{:href => "/slides"}
                  %i.icon-film
                  Manage slides
              %li.nav-header Blog
              %li
                %a{:href => "/posts/new"}
                  %i.icon-pencil
                  New post
              %li
                %a{:href => "/posts"}
                  %i.icon-edit
                  Edit/delete posts
              %li.nav-header Shows
              %li
                %a{:href => "/shows"}
                  %i.icon-calendar
                  Manage shows 
              %li.nav-header About
              %li
                %a{:href => "/contents/1"}
                  %i.icon-edit
                  Edit about us
              %li
                %a{:href => "/contents/2"}
                  %i.icon-edit
                  Edit our sound
              %li.nav-header Music
              %li
                %a{:href => "/songs"}
                  %i.icon-music
                  Player
              %li.nav-header Newsletter
              %li
                %a{:href => "/posts"}
                  %i.icon-user
                  Manager users 
              %li
                %a{:href => "/posts"}
                  %i.icon-envelope
                  Send e-mail 
        .span9
          = yield
