!!! 5
%html
  %head
    %title The Leonard Washingtons
    %meta{:content => "The Leonard Washingtons, a funky jam-band from Terre Haute, IN ", :name => "description"}
    %meta{:content => "Pete Brousalis - brousalis.com", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    = stylesheet_link_tag "application"
    %script{:src => "http://use.typekit.com/iui1xgf.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    = yield
    = javascript_include_tag "application"
    :javascript
      window._gaq = [['_setAccount','UA-21647859-2'],['_trackPageview'],['_trackPageLoadTime']];
        Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });
      $(document).ready(function(){
        new jPlayerPlaylist({
          jPlayer: "#jquery_jplayer_1",
          cssSelectorAncestor: "#jp_container_1"
        }, 
          #{Song.to_list.to_json}, 
        {
          swfPath: "js",
          supplied: "mp3",
          wmode: "window",
          playlistOptions: {
            autoPlay : false
          }
        });
      });

